<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <!-- <h5>YPS Academy, Udgir</h5> -->
                <img src="android-chrome-512x512.png" alt="" class="footer-logo">
            </div>
            <div class="col-md-4">
              <div class="social-media-icons">
                <a href="#" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <address>
                <p class="mb-0">YPS Academy,</p>
                <p class="mb-0">Navi Abadi,</p>
                <p class="mb-0">Near Ganesh Temple,</p>
                <p class="mb-0">Udgir, Dist : Latur</p>
                <div class="contact-info">
                  <p class="mb-0">
                    <!-- <mat-icon>phone</mat-icon> -->
                    <a href="tel:+919421359298">+91 99702 52067</a>
                  </p>
                  <p class="mb-0">
                    <!-- <mat-icon>email</mat-icon> -->
                    <a href="mailto:ypsacademyudgir@gmail.com">ypsacademyudgir&#64;gmail.com</a>
                  </p>
                  </div>
              </address>
            </div>
        </div>
        <div class="copyright">
          <p >&copy; 2024 All rights reserved</p>
        </div>
    </div>
</footer>
