


@keyframes gradient-animation {
    0% {   
    transform: translateX(0);
    }
    50% {
    transform: translateX(20px);
    }
    100% {
    transform: translateX(0);
    }
  }


  
  @keyframes scale-up {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes typing {
    0% { 
      width: 0;
    }
    50% { 
      width: 100%;
    }
    90% { 
      width: 100%;
    }
    100% { 
      width: 0;
    }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    70% { border-color: #fff }
  }
  @keyframes fade-in {
    from { 
      opacity: 0;
    }
    to { 
      opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {
    .navbar-main {
    
      .menu-toggle {
        display: block;
        margin-left: auto;
      }
  
      .nav-links {
        display: none;
        position: fixed;
        top: 64px;
        left: 0;
        right: 0;
        background: $gray-900;
        flex-direction: column;
        padding: 16px;
        z-index: 1000;
  
        &.open {
          display: flex;
        }
  
        .nav-link {
          width: 100%;
          margin: 8px 0;
          padding: 30px 16px !important;
        }
      }
  
      .desktop-sign-in {
        display: none;
      }
  
      .mobile-sign-in {
        display: block;
        width: 100%;
        margin-top: 16px;
      }
    }
  }