<div class="container">
    <div class="login-container">
        <div class="login-box">
            <h2>{{userHasAccount ? "Login":"Register"}}</h2>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

                @if (userHasAccount) {
                    <!-- email field -->
                    <mat-form-field appearance="outline" class="full-width custom-height">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" placeholder="Enter your email" />
                        @if(email()?.hasError('required')){
                        <mat-error> email is required</mat-error>
                        }
                        @if(email()?.hasError('email')){
                        <mat-error>Please enter a valid email</mat-error>
                        }
                    </mat-form-field>
    
                    <!-- password field -->
                    <mat-form-field appearance="outline" class="full-width custom-height">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" placeholder="Enter your password" />
                        @if(password()?.hasError('required')){
                        <mat-error>Password is required</mat-error> }
                    </mat-form-field>
    
                    }@else {
                    <!-- email field -->
    
                    <mat-form-field appearance="outline" class="full-width custom-height">
                        <mat-label>name</mat-label>
                        <input matInput type="name" formControlName="name" placeholder="Enter your name" />
                        @if(name()?.hasError('required')){
                        <mat-error>
                            name is required
                        </mat-error>
                        }
                        @if(name()?.hasError('name')){
                        <mat-error>
                            Please enter a valid name
                        </mat-error>
                        }
                    </mat-form-field>
    
    
                    <mat-form-field appearance="outline" class="full-width custom-height">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" placeholder="Enter your email" />
                        @if(email()?.hasError('required')){
                        <mat-error>
                            Email is required
                        </mat-error>
                        }
                        @if(email()?.hasError('email')){
                        <mat-error>
                            Please enter a valid email
                        </mat-error>
                        }
                    </mat-form-field>
    
                    <!-- password field -->
                    <mat-form-field appearance="outline" class="full-width custom-height">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" placeholder="Enter your password" />
                        @if(password()?.hasError('required')){
                        <mat-error>
                            Password is required
                        </mat-error>
                        }
                    </mat-form-field>
    
                    <!-- password field -->
                    <mat-form-field appearance="outline" class="full-width custom-height">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password" />
                        @if(password()?.hasError('required')){
                        <mat-error>
                            Password didnt match
                        </mat-error>
                        }
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="full-width custom-height">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput type="password" formControlName="mobile" placeholder="Enter Mobile NUmber" />
                        @if(mobile()?.hasError('required')){
                        <mat-error>
                            Enter Mobile Number
                        </mat-error>
                        }
                    </mat-form-field>
                    }


                <!-- action button -->
                <div class="actions">
                    <a (click)="userHasAccount = !userHasAccount">{{userHasAccount ? "Don't have an account? Register" :
                        "Already have an account? Login"}}</a>
                    <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">
                        {{userHasAccount ? "Login" : "Register"}}
                    </button>
                    <button mat-raised-button color="primary" type="button" (click)="onCancel()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>