.container {
//   padding: 84px 10px !important;
  .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 84px 0 !important;
    color: $gray-900 !important;

      .login-box {
          width: 100%;
          max-width: 400px;
          padding: 2em;
          border: 1px solid #ccc;
          border-radius: 8px;
          
          background: $gradient-secondary;
          // background-size: 200% 200%;
          &:hover,&:focus, &:active {
            box-shadow: 4px 4px 11px 0px rgba(231, 21, 21, 0.55);
          }

          .actions {
              display: flex;
              justify-content: flex-end;
              margin-top: 1em;
          }

          .full-width {
              width: 100%;
              margin-bottom: 20px;
          }

          .custom-height {
              height: 56px;
          }

          .actions {
              display: flex;
              justify-content: space-between;
              margin-top: 1em;
          }
      }
  }
}