.navbar-main {
    background-color: $gray-900 !important;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
    
    .menu-toggle {
        display: none;
      }
    
      .mobile-sign-in {
        display: none;
      }

    .navbar-brand {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
        // letter-spacing: 0.5px;
        font-family: 'Ubuntu', sans-serif;

        .logo {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-right: 10px;
            animation: scale-up 3 infinite fill-mode;
        }
    }

    .nav-link {
        text-decoration: none;
        transition: all 0.3s ease;
        font-family: 'Ubuntu', sans-serif !important;
        color: $gray-300 !important;
        border: 1px solid transparent !important;
        height: 20px !important;
        padding: 5px 10px !important;
        font-weight: 400 !important;
        box-shadow:0 2px 2px rgb(5 5 5 / 30%) !important;
        margin-right: 5px;
        
        &:hover {
            transform: translateY(-1px);
            border-bottom: 1px solid $white !important;
            color: $secondary-color !important;
        }
      
    }

    .menu-toggle {
        display: none;
        font-size: 1.5rem;
        color: $gray-300;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-1px);
            color: $secondary-color;
        }
    }
    .sign-in-button {
        transition: all 0.3s ease;
        font-family: 'Ubuntu', sans-serif !important;
        background-color: $accent-color !important;
        border: 1px solid transparent !important;
        color: $gray-300 !important;
        height: 20px !important;
        &:hover {
            transform: translateY(-1px);
        border-bottom: 1px solid $white !important;
        color: $primary-dark !important;

        }
    }
}


@media screen and (max-width: 768px) {
    .navbar-main {
    
      .menu-toggle {
        display: block;
        margin-left: auto;
      }
  
      .nav-links {
        display: none;
        position: fixed;
        top: 64px;
        left: 0;
        right: 0;
        background: $gray-900;
        flex-direction: column;
        padding: 16px;
        z-index: 1000;
  
        &.open {
          display: flex;
        }
  
        .nav-link {
          width: 100%;
          margin: 8px 0;
          padding: 30px 16px !important;
        }
      }
  
      .desktop-sign-in {
        display: none;
      }
  
      .mobile-sign-in {
        display: block;
        width: 100%;
        margin-top: 16px;
      }
    }
  }


